<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="keywords" content="易旅通，智慧景区系统，环球雅途，智慧旅游管理+目的地运营为基础的大连接体系、以产业监测+电子交易结算为核心的大数据体系、以目的地集散服务体系为支撑的大服务体系，形成了“大连接+大数据+大服务”的旅游产业生态圈，构建了具有自主知识产权和独具特色的“旅游+互联网”发展模式">
    <meta name="description" content="易旅通智慧景区系统，环球雅途集团,智慧旅游,智慧景区,易旅通,O2O一体化区域旅游目的地综合运营平台,全域旅游,旅游目的地,旅游电子商务,景区电商平台,景区票务系统,景区售票系统,景区管理系统,景区信息化建设">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
    <link rel="stylesheet" name="theme" href="">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
    <div id="app"></div>
    <div class="lock-screen-back" id="lock_screen_back"></div>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[2] %>"></script>
</body>
<script>
    if(window.console && window.console.log) {
        console.log('祝贺您喜提彩蛋~！');
    }
</script>

</html>